<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h2 th:text="'All Directors:'"></h2>
<table>
    <tr th:each="director : ${allDirectors}">
        <td><p th:text="${director.getSurname()}"/></td>
        <td><p th:text="${director.getName()}"/></td>
        <td>
            <form th:method="GET" th:action="@{/directors/{id}(id=${director.getId()})}">
                <input type="submit" value="More"/>
            </form>
        </td>
    </tr>
</table>
<br>
<hr>
<input type="button" value="Main View"
       onclick="window.location.href = '/'"/>
</body>
</html>