<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 th:text="'MovieLib'"></h1>
<input type="button" value="Movies"
       onclick="window.location.href = '/movies'"/>
<br>
<br>
<input type="button" value="Actors"
       onclick="window.location.href = '/actors'"/>
<br>
<br>
<input type="button" value="Directors"
       onclick="window.location.href = '/directors'"/>
</body>
</html>